In [8]:
# importar dados já formatado csv
import pandas as pd

# neste arquivo temos as colunas "inicial	palestras	contato	comprou	patrocinio"
# cada linha representa um visitante no site
# cada coluna representa o acesso a página correspondente (1=>acessou, 0=> não acessou)
# 
uri = 'https://gist.githubusercontent.com/guilhermesilveira/b9dd8e4b62b9e22ebcb9c8e89c271de4/raw/c69ec4b708fba03c445397b6a361db4345c83d7a/tracking.csv'

# ler arquivo
dados = pd.read_csv(uri)

# exibir primeiras linhas
dados.head()

   inicial  palestras  contato  comprou  patrocinio
0        1          1        0        0           0
1        1          1        0        0           0
2        1          1        0        0           0
3        1          1        0        0           0
4        1          1        0        0           0

In [11]:
# vamos tentar estimar se o usuário vai comprar ou não
y = dados['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [45]:
x = dados[['inicial', 'palestras', 'contato', 'patrocinio']]
x.head()

   inicial  palestras  contato  patrocinio
0        1          1        0           0
1        1          1        0           0
2        1          1        0           0
3        1          1        0           0
4        1          1        0           0

In [14]:
dados.shape

(99, 5)

In [19]:
# vamos treinar o modelo

In [17]:
# não posso testar com dados de treino

In [18]:
# separa quem é teste e quem é teste

In [20]:
# vamos sugerir que os primeiros 75 elementos é treino
treino_x = x[:75]
treino_y = y[:75]

# e os testes são a partir do 76 elemento
teste_x = x[75:]
teste_y = y[75:]

In [47]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

print(f'Treinaremos com {len(treino_x)} elementos')
print(f'Testaremos com {len(teste_x)} elementos')
print('----------------------------')

# FASE DE TREINO
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

# FASE DE TESTES
previsoes = modelo.predict(teste_x)

# FASE DE MÉTRICAS
acuracia = accuracy_score(teste_y, previsoes) * 100
print(f'A acurárica foi de {acuracia:.2f}%')

Treinaremos com 75 elementos
Testaremos com 24 elementos
----------------------------
A acurárica foi de 95.83%

In [57]:
# Usando a biblioteca para separar treino e teste
from sklearn.model_selection import train_test_split

In [58]:
train_test_split(x, y)

[    inicial  palestras  contato  patrocinio
 47        1          0        1           0
 30        0          1        0           1
 39        1          0        1           0
 70        1          1        0           0
 23        0          1        0           0
 ..      ...        ...      ...         ...
 21        0          1        0           0
 92        1          1        0           0
 53        1          1        0           0
 11        1          0        1           0
 80        0          0        1           0

 [74 rows x 4 columns],
     inicial  palestras  contato  patrocinio
 86        1          1        0           0
 19        0          1        0           0
 10        1          1        0           0
 51        1          1        0           0
 68        1          0        1           0
 74        0          0        1           0
 45        0          0        1           0
 25        1          1        1           0
 46        1          0        1           0
 36        1          0        1           0
 32        0          0        1           0
 3         1          1        0           0
 44        0          0        1           0
 63        0          1        0           0
 13        0          0        1           0
 69        1          1        0           0
 42        0          1        0           0
 82        0          0        1           0
 27        1          0        1           0
 65        0          1        1           0
 37        0          0        1           0
 56        1          0        1           1
 1         1          1        0           0
 50        1          1        0           0
 8         1          1        0           0,
 47    1
 30    0
 39    1
 70    0
 23    0
      ..
 21    0
 92    0
 53    0
 11    1
 80    0
 Name: comprou, Length: 74, dtype: int64,
 86    0
 19    0
 10    1
 51    0
 68    1
 74    0
 45    0
 25    1
 46    1
 36    1
 32    0
 3     0
 44    0
 63    0
 13    0
 69    0
 42    0
 82    0
 27    1
 65    1
 37    0
 56    1
 1     0
 50    0
 8     0
 Name: comprou, dtype: int64]

In [61]:
treino_X, teste_x, treino_y, teste_y = train_test_split(x, y)
print(f'Treinaremos com {len(treino_x)} elementos')
print(f'Testaremos com {len(teste_x)} elementos')
print('----------------------------')

Treinaremos com 75 elementos
Testaremos com 25 elementos
----------------------------

In [76]:
# Usando a biblioteca para separar treino e teste
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 834
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,  random_state=SEED, stratify=y)

print(f'Treinaremos com {len(treino_x)} elementos')
print(f'Testaremos com {len(teste_x)} elementos')
print('----------------------------')

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print(f'A acurárica foi de {acuracia:.2f}%')

Treinaremos com 74 elementos
Testaremos com 25 elementos
----------------------------
A acurárica foi de 96.00%

In [77]:
treino_y.value_counts()

comprou
0    49
1    25
Name: count, dtype: int64

In [78]:
teste_y.value_counts()

comprou
0    17
1     8
Name: count, dtype: int64